<p>The latest episode in Embracing Digital Transformation is out. Check it out.</p>

<p><%= episode.summary %></p>
<ul>
    <ol>Blog: <%= episode.assets.blog.url %></ol>
    <ol>Video: <%= episode.assets.video.url %></ol>
    <ol>Podcast: <%= episode.assets.audio.url %></ol>
</ul>
